<div class="salesDiv sectionDiv">
    <div class="divHeader">Sales Dashboard</div>

    <div class="divAction">
        <button class="" ng-click="goAddSales()"> Add Lead </button>
    </div>

    <div class="action">
        <div class="search">
            <input type="text" placeholder="Search Sales Lead" class="searchInput" />
        </div>
    </div>
    <div class="contentDiv">
        <div class="card salesTable">
            <div class="tRow tHeader">
                <div>
                    #
                </div>
                <div>Company</div>
                <div>Received</div>
                <div>Sent</div>
                <div>Assignee</div>
                <div>Status</div>
            </div>
            <div class="content">
                <div ng-repeat="i in salesList" class="tRow tContent" ng-click="showSalesLead(i)">
                    <div>
                        {{i.index+1}}
                    </div>
                    <div>{{i.company}}</div>
                    <div>{{ getReceivedDate()|date}}</div>
                    <div>{{ getSentDate()|date}}</div>
                    <div>{{ i.assignee}}</div>
                    <div>{{getStatus()}}</div>
                </div>
            </div>
        </div>
    </div>

</div>
